/* =============================================================================
   Structure
   ========================================================================== */
  
body {
  font: normal 16px/18px helvetica,arial,sans-serif;
  color: #555;
  margin: 0;
  padding: 0;
  background: #ddd;
}

div#wrapper {
  width: 980px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

header {
  width: 980px;
}

nav {
  height: 55px;
  text-align: center;
}

section {
  min-height: 300px;
  text-align: center;
  padding: 30px;
}

div.halfPanel {
  float: left;
  width: 50%;
  margin: 0 0 20px 0;
}

footer {
  width: 980px;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #999;
  border-top: 1px solid #ddd;
  clear: both;
}

/*Fonts*/
@font-face
{
  font-family: rayaditapizarra;
  src: url('./fonts/Sketch_Block.ttf');
}

@font-face
{
  font-family: amano;
  src: url('./fonts/ObjectumSexuality.ttf');
}
/*End Fonts */

div#logo
{
  float:left;
}

/* =============================================================================
   Navigation
   ========================================================================== */
.menu-icon
{
  display: none;
}


span#siteName a {
  display: block;
  width: 50%;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #000;
  text-decoration: none;
  margin: 30px 0 10px 30px;
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
}

span#siteName a span {
  color: #1b96ce;
  font-family: 'rayaditapizarra';
  font-weight: lighter;
  font-size: 68px;
}

span#siteName a:hover {
  color: #1b96ce;
  text-decoration: none;
}

span#siteTagline {
  display: block;
  font-family: 'amano';
  width: 90%;
  font-size: 14px;
  color: #888;
  margin: 0 0 10px 90px;
}

/* 
      Navegacion
*/
nav ul{
  display:block;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  height: 50px;
  font-size: 18px;
  line-height: 52px;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin: 5px 0;
  background: #FFF;
  border-radius: 9px;
  width: 200px;
  font-family: 'amano';
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
}
nav ul li:hover
{
  background: #1b96ce;
  color: #FFF;
}

/*
nav ul li a.menuselected {
  color: #F00;
  text-decoration: none;
}*/

footer a {
  color: #999;
  text-decoration: underline;
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
}

footer a:hover {
  color: #1b96ce;
  text-decoration: underline;
}

span.button a {
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 52px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  background: #1b96ce;
  border-radius: 4px;
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
}

span.button a:hover {
  color: #1b96ce;
  text-decoration: none;
  background: #b9ddff;
}

/* =============================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  font-size: 40px;
  line-height: 1em;
  letter-spacing: -1px;
  color: #000;
  margin: 0 0 30px 0;
}

h2 {
  font-size: 32px;
  letter-spacing: -0.5px;
  color: #aaa;
  margin: -20px 0 30px 0;
}

h3, h4, h5, h6 {
  font-size: 26px;
  letter-spacing: -0.5px;
  margin: 30px 0 8px 0;
}

h5, h6 {
  font-size: 20px;
  letter-spacing: 0px;
}

p {
  line-height: 1.5em;
   margin: 0 0 20px 0;
}

p a {
  color: #1b96ce;
  text-decoration: underline;
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
}

p a:hover {
  color: #000;
  text-decoration: underline;
}

b, strong { 
  font-weight: bold;
  color: #000;
}

strike {
  color: #1b96ce;
}


/* =============================================================================
   Images
   ========================================================================== */
figure {
  margin: 0;
  padding: 0;
}

img.thumb {
  width: 438px;
  height: 204px;
  margin: 10px 0;
  border: 1px solid #666;
}

img.icon {
  width: 54px;
  height: 54px;
  margin: 10px 5px 0 5px;
  border: 0;
}


/* =============================================================================
   Responsive media queries
   ========================================================================== */

div.vid {
  position: relative;
  height: 0;
  margin: 10px 0;
  padding: 30px 0 56.25% 0; 
  overflow: hidden;
}

div.vid iframe, div.vid object, div.vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}